<!--
 Created by Vitali Dettling on 19.10.2015.
-->

<div ng-controller="LoginController">

    <!-- TODO Debug information delete after the program is working.
    <Label>Authentication information</Label>-->
    <div>Response: {{response}}</div>
    <div>Error: {{error}}</div>
    <!--TODO End Debug information. Delete-->

    <!-- Handel's the input for the debugging information -->
    <form ng-submit="login()" >
        <Label>Enter your IZ Data here, please:</Label></br>
        <label>Username:</label>
        <input type="text" ng-model="username" name="text" />
        </br>
        <label>Password:</label>
        <input type="password" ng-model="password" name="text" />
        </br>
        <input type="submit" id="login" value="login">
    </form>

</div>
