<div ng-controller="PraxisboerseController" ng-cloak>


    <table class="table">
        <tr>
            <td>
                <md-input-container>
                    <label>Kategorie</label>
                    <md-select ng-model="kategorie">
                        <md-option ng-value="kategorie.shortname" ng-repeat="kategorie in kategorien">{{kategorie.name}}</md-option>
                    </md-select>
                </md-input-container>


                <md-input-container flex>
                    <label>Stichwortfilter</label>
                    <input ng-model="filter" name="filter" md-maxlength="15">
                </md-input-container>


                <md-input-container>
                    <label>Land</label>
                    <md-select ng-model="land">
                        <md-option ng-value="land.id" ng-repeat="land in laender">{{land.name}}</md-option>
                    </md-select>
                </md-input-container>

            </td>
        </tr>
        <tr>
            <td><md-button class="md-raised" ng-click="type()">Suche Angebote</md-button></td>
            <td><md-button class="md-raised" ng-click="showMerkzettel()">Zeige Merkzettel</md-button></td>
        </tr>
    </table>
</div>








